define('SITE_NAME', '');
define('SITE_URL', '');
define('SITE_KEY', "fghuior.)/!/jdUkd8s2!7HVHG7777ghg");

define('USE_SMTP', 0);
define('SMTP_AUTH', 1);
define('SMTP_DEBUG', 0);
define('SMTP_SECURITY', NULL);

define('SMTP_HOST', 'smtp.example.com');
define('SMTP_PORT', 25);
define('SMTP_USERNAME', 'email@example.com');
define('SMTP_PASSWORD', 'password');
